@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
  font-family: NotoKufiArabic-Bold, "Open Sans", tahoma, Arial, sans-serif;
  background: radial-gradient(circle, transparent 20%, #e1e1e1 20%, #e1e1e1 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e1e1e1 20%, #e1e1e1 80%, transparent 80%, transparent) 20px 20px, linear-gradient(#ffffff 1.6px, transparent 1.6px) 0 -0.8px, linear-gradient(90deg, #ffffff 1.6px, #e1e1e1 1.6px) -0.8px 0;
  background-size: 40px 40px, 40px 40px, 20px 20px, 20px 20px;
}

::-webkit-scrollbar{
  width:10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background-color: #ffd900;
  box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track{
  border-radius: 1px;
  background-color: #f7f2d5;
  box-shadow: inset 0 0 6px rgba(0,0,0,.4);
}

.header {
  overflow: hidden;
  background-color: #000000;
  padding: 8px 12px;
  border-radius: 5px;
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 1px;
  margin-bottom: -17px;
  margin-top: -3px;
}

.header a.logo {
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-left: 22px;
  margin-top: -15px;
}

.logo2 img{
  flex: 1;
  position: fixed;
  display: flex;
}

.header a:hover {
  background-color: rgba(255, 196, 0, 0.185);
  color: rgb(255, 255, 255);
}

.header a.active {
  background-color: rgb(255, 196, 0);
  color: rgb(0, 0, 0);
}

.header-right {
  float: right;
  display: flex;
  align-items:center;
  
}

.containerr{
  display: flex;
  justify-content: center;
  padding: 80px;
}

.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     }


.square{
  width: 460px;
	height: 430px;
	background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}

.mask{
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
}


.h1{
  margin: auto;
  text-align: left;
  margin-top: 240px;
  padding-left: 30px;
}


.button {
    background-color: #ffd00067;
    color: rgb(0, 0, 0);
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'merriweather';
}

.blog-content {
  display: block;
  justify-content: end;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  height: auto;
  width: 749px;
  border: 1px;
  background-color: white;
  right: -440px;
  position: relative;
}

.soon {
  display: block;
  justify-content:left;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 10%);
  height: 28px;
  width: 351px;
  border:  7px;
  background-color: white;
  right: -30px;
  top: -4280px;
  position: relative;
  text-align: center;
}

.soontxt {
  top: 3px;
  position:relative;
}

.ico {
  position: relative;
  top: 4px;
}
.b-title {
  text-align: center;
  background-color: #dab200;
  padding: 9px 3px;
  border-radius: 1px;
}

.b-txt {
  font-size: small;
  position: relative;
  text-align: center;
}

.b-imge {
  height: 374px;
  width: 749px;
  max-width: 100%;
  display: inline;
}




.fram-imge {
  height: 197px;
  width: 360;
  border: 1px solid #ffffff;
  position: relative;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 10px 0px;
  margin-left: 30px;
  top: -4260px;
}

.other-blog {
  height: 300px;
  width: 369px;
  border: 1px solid  #ffffff;
  margin: 15px 0 0 0;
  padding: 15px 15px  15px;
  position: relative;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 10px 0px ;
  background-color: white;
  left: 20px;
  top: -4250px;
  
}

.contentb {
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  text-decoration: none solid rgb(28, 40, 51);
  text-align: left;
  background-color: white;
  border-radius: 2px;
  position: relative;
  right: 34px;
  margin-top: -11px;
}

.b-tit {
  left: 148px;
  top: -20px;
position: relative;
}

.h3 {
  height: 58.5938px;
  width: 358px;
  border-bottom: 1px solid  #DDDDDD ;
  margin: 1px solid  #DDDDDD;
  padding : 20px;
  display: block;
  box-sizing: border-box;
  display: inline-block;
}


.blog-con {
font-size: 14px;
line-height: 20px;
text-align: right;
height: 108.562px;
width: 328px;
border-bottom : 1px solid  #DDDDDD ;
padding: 7px 0 7px 0;
display: list-item;
list-style-type: none;
list-style-position: outside;
box-sizing: border-box;
top: -130px;
left: 9px;
position: relative;
}
.cont-img {
  height: 82px;
  width: 82px;
  border : 1px solid  #DDDDDD;
margin: 8px;
padding: 3px 3px 3px 3px;
max-width: 25%;
position: left;
display: block;
cursor: pointer;
position: relative;
top: -100px;
}
.cont-titl {
  font-size: 14px;
  line-height: 23px;
  text-decoration: 1px solid  #DDDDDD;
  text-align: left;
  height: auto;
  width: auto;
  display: inline;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  top: 180px;
  left: 36px;
}

.contit {
  position: relative;
  top: -378px;
  right: -123px;
}

.infotit {
  position: relative;
  text-align: right;
  top: -348px;
  cursor: pointer;
  left: -39px;
  color: #dab200;
}

.bl-info {
  position: relative;
  top: -422px;
  right: -88px;
  width: 300px;
  height: auto;
}


.fram-bfoot {
  height:auto;
  width: 753px;
  border: 2px solid  #e2ad00;
  margin: 15px 0 0 0;
  padding: 15px 15px  15px;
  position: relative;
  box-sizing: border-box;
  box-shadow: rgba(255, 187, 0, 0.226) 0px 6px 10px 0px ;
  background-color: rgb(255, 255, 255);
  position: relative;
  right: -439px;
  top: -350px;

}

.f-title {
  text-align:right;
  position: relative;
  right: 13px;
}

.Teambox {
  position: relative;
  align-items: center;
}

.Team-card{
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 208, 0);
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.5s ease;
  position: relative;
  left: 400px;

}


.Team-card:hover{
  transform: scale(1.1);
}

.Team-card:hover .project-img{
  opacity: 0.7;
}

.Team-img img{
  width: 100%;
}

.Team-info{
  padding: 1em;
}

.Team-category{
  font-size: 0.8em;
  color: #000f;
}

.Team-title{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}


.btn-cssbuttons {
  --btn-color: #ccbe00;
  position: relative;
  padding: 16px 32px;
  position: relative;
  top:8px;
  left: 590px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons span,
 .btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons span {
  transition-delay: 0.05s;
 }
 
 .btn-cssbuttons span:first-child {
  padding-right: 7px;
 }
 
 .btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
 }
 
 .btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
 }
 
 .btn-cssbuttons ul li {
  flex: 1;
 }
 
 .btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .btn-cssbuttons ul li a:hover {
  opacity: 0.5;
 }
 
 .btn-cssbuttons:hover::before {
  transform: scale(1.2);
 }
 
 .btn-cssbuttons:hover span,
 .btn-cssbuttons:hover span span {
  transform: translateY(-55px);
 }
 
 .btn-cssbuttons:hover ul li a {
  transform: translateY(0);
 }
 
 .btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
 }
 
 .btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
 }
 
 .btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
 }


.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  display: block;
  position: relative;
  top: 100px;
  border-radius: 4px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}