/* components.css */

.btn {
    padding: theme('spacing.4') theme('spacing.2');
    /* ... */
  }
  
  /* Will not work */
  @import "./components/card";
  /* components.css */
@import "./components/buttons.css";
@import "./components/card.css";
* components/buttons.css */
.btn {
  padding: theme('spacing.4') theme('spacing.2');
  /* ... */
}

/* components/card.css */
.card {
    padding: theme('spacing.4');
    /* ... */
  }
  
  @tailwind base;
@import "./custom-base-styles.css";

@tailwind components;
@import "./custom-components.css";

@tailwind utilities;
@import "./custom-utilities.css";
@import "tailwindcss/base";
@import "./custom-base-styles.css";

@import "tailwindcss/components";
@import "./custom-components.css";

@import "tailwindcss/utilities";
@import "./custom-utilities.css";

:root {
    --theme-color: #52b3d0;
  }
  
  /* ... */
  
  .btn {
    background-color: var(--theme-color);
    /* ... */
  }
  .btn {
    background-color: theme('colors.blue.500');
    padding: theme('spacing.2') theme('spacing.4');
    /* ... */
  }
  .alert {
    background-color: darken(theme('colors.red.500'), 10%);
  }
  