@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600&display=swap');


::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(136, 136, 136);
}

::-webkit-scrollbar-thumb {
  background: rgb(161, 110, 0);
  border-radius: 2px;
}
.Con {
  animation:transitionIn 0.75s;
}
html {
  scroll-behavior: smooth;
  background-color: #eeeeee;
}

body {
	margin: 0;
	padding: 0;
}
@keyframes transitionIn {
  from  {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
* {
	font-family: 'Cairo', sans-serif;
}
.nav-bar {
  height: 70px;
  background: #262626;
  
}
 
.brand {
  position: absolute;
  margin-top: 4px;
  float: left;
  line-height: 1px;
  transition: 0.3s;
  border-radius: 100px;
}

.brand:hover {
    border-radius: 2px;
    transition: 0.3s;
    background-color: #ffffff;
    line-height: 7px;
}

.brand a img {
	max-height: 60px;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
 
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
 
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
  
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #d69200;
  color: #000000;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
 
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
 
@media only screen and (max-width: 798px) {

    .Notfi{
        padding-top:1px ;
        width:280px;
        position:relative;
        right: 60px;
    }
.Tit-note{
  position: relative;
  
}
    .brand{
        margin-top: 2px;
        margin-left: 2px;
    }
  .nav-mobile {
    display: block;
  }
 .title,h1 {
    display:contents;
 }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
	padding-left: 25%;
	 
  }
  nav ul li ul li a {
    padding-left: 30%;
  }
 
  .nav-dropdown {
    position: static;
  }
	.brand a img {
		max-height: 60px;
		margin-top: 5px;
	}
}
@media screen and (min-width: 499px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
 
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.Notfi{
    padding-top:1px ;
    margin-left:60px;
    margin-right: 90px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:60px;
    background-color: #d69200;
}
.Tit-note{
    color: #ffffff;
    font-size: 17px;
    position:relative;
    bottom:11px;
    left: 20px;
    font-weight: bold;
    text-decoration: none;
}
.Tit-note:hover{
    color: #000000;
    text-decoration:underline;
}
/* Content */
.Contentbx{
    background-color: rgb(255, 255, 255);
    margin: 60px;
    margin-top: 20px;
    padding: 10px;
    height: 2000px;
    border-radius: 5px;
}